<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>StartupWeb</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<link href="../static/css/navbar.css" th:href="@{/css/navbar.css}"
	rel="stylesheet" media="screen" />
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="../static/js/navbar.js" th:src="@{/js/navbar.js}"></script>
<link href="../../static/css/configuracion.css"
	th:href="@{/css/configuracion.css}" rel="stylesheet" media="screen" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	<div class="container-fluid">
		<div class="row content">
			<div class="col-sm-3 sidenav hidden-xs">
				<!--/*/ <th:block th:include="fragments/headerLeft :: headerLeft"></th:block> /*/-->
			</div>
			<div class="col-sm-9">
				<div class="well">
					<div class="container">
						<form class="form-horizontal" method="POST" th:action="@{/guardaCambios}" th:object="${user}">
							<fieldset>

								<!-- Form Name -->
								<legend >Configuración de usuario</legend>

								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-4 control-label" for="f_name">Nombre</label>
									<div class="col-md-6">
										<input id="f_name" name="f_name" type="text"
											placeholder="Nombre"
											class="form-control input-md" required="" th:field="*{nombre}" th:value="${user.nombre}"/>
									</div>
								</div>
								<div class="form-group" th:if="${user.rol.descripcion} == 'INVERSOR'">
									<label class="col-md-4 control-label" for="f_name">Apellido</label>
									<div class="col-md-6">
										<input id="apellido" name="apellido" type="text"
											placeholder="Apellido"
											class="form-control input-md"  th:field="*{inversor.apellido}" required="" th:value="${user.inversor.apellido}"/>
									</div>
								</div>
								<div class="form-group" th:if="${user.rol.descripcion} == 'INVERSOR'">
									<label class="col-md-4 control-label" for="f_name">NIF</label>
									<div class="col-md-6">
										<input id="dni" name="dni" type="text"
											placeholder="DNI"
											class="form-control input-md" required="" th:field="*{inversor.dni}" th:value="${user.inversor.dni}"/>
									</div>
								</div>
								<div class="form-group" th:if="${user.rol.descripcion} == 'EMPRESA'">
									<label class="col-md-4 control-label" for="f_name">CIF</label>
									<div class="col-md-6">
										<input id="cif" name="cif" type="text"
											placeholder="CIF"
											class="form-control input-md" th:field="*{empresa.cif}" required="" th:value="${user.empresa.cif}"/>
									</div>
								</div>
								<!-- Prepended text-->
								<div class="form-group">
									<label class="col-md-4 control-label" for="f_income">Correo electrónico</label>
									<div class="col-md-6">
										<div class="input-group">
											<span class="input-group-addon">@</span> <input
												id="f_income" name="f_income" class="form-control"
												placeholder="Correo electrónico" type="email" th:field="*{email}" required="" th:value="${user.email}"/>
										</div>
										<p class="help-block">Introduce un correo electrónico válido</p>
									</div>
								</div>

								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-4 control-label" for="m_name">Teléfono</label>
									<div class="col-md-6">
										<input id="m_name" name="m_name" type="text"
											placeholder="Teléfono" class="form-control input-md"
											required="" th:value="${user.telefono}" th:field="*{telefono}" /> <span class="help-block"></span>
									</div>
								</div>



								<!-- Text input-->
								<div class="form-group">
									<label class="col-md-4 control-label" for="dob">Dirección</label>
									<div class="col-md-6">
										<input id="dob" name="dob" type="text"
											placeholder="Dirección" class="form-control input-md"
											required="" th:field="*{direccion}" th:value="${user.direccion}"/> <span class="help-block">Please choose
											your from the calender </span>
									</div>
								</div>


								<!-- Text input-->
								<div class="form-group" th:if="${user.rol.descripcion} == 'INVERSOR'">
									<label class="col-md-4 control-label" for="ph_cat"></label>
									<div class="col-md-8">
										<a  class="btn btn-default " 
											name="submitb" th:href="@{/recargarImporte}" >Recargar cuenta</a>

									</div>
								</div>



								<!-- Button (Double) -->
								<div class="form-group">
									<label class="col-md-4 control-label"></label>

									<div class="col-md-8">
										<input
											type="submit" class="btn btn-success btn-lg " id="submit"
											name="submitb" value="Guardar" />

									</div>
								</div>

							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>