<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>StartupWeb</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<link href="../static/css/navbar.css" th:href="@{/css/navbar.css}"
	rel="stylesheet" media="screen" />
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="../static/js/navbar.js" th:src="@{/js/navbar.js}"></script>
<link href="../../static/css/userIndex.css"
	th:href="@{/css/userIndex.css}" rel="stylesheet" media="screen" />
<script src="../static/js/userIndex.js" th:src="@{/js/userIndex.js}"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
	<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	<div class="container-fluid">
		<div class="row content">
			<div class="col-sm-3 sidenav hidden-xs">
				<!--/*/ <th:block th:include="fragments/headerLeft :: headerLeft"></th:block> /*/-->
			</div>
			<div class="col-sm-9">
				<div class="well">
					<h2>Información específica</h2>
					<div class="row" id="infoEmpresa">
						<div class="col-sm-4">
							<img src="../static/images/logos/SW_Entero_Blue.png"
								th:src="@{/images/profile/default.png}" width="25px"
								id="imgPerfil" class="img-responsive" alt="Logo empresa" />

						</div>
						<div class="col-sm-4" style="text-align: left">
							<h4 th:text="${inversor.nombre}"></h4>
							<p>
								Dirección: <span th:text="${inversor.direccion}"></span>
							</p>
							<p>
								Teléfono: <span th:text="${inversor.telefono}"></span>
							</p>
							<p>
								DNI: <span th:text="${inversor.inversor.dni}"></span>
							</p>
						</div>
						<div class="col-sm-4" style="text-align: left">
							<div  id="importeInversor">
								<h2>Inversión</h2>
								<h1 th:text="${inversor.inversor.importe}+ '€'"></h1>
							</div>
							<br />
							<a type="button" data-toggle="modal" data-target="#myModal"
								class="btn btn-info btn-lg">¿Dar toque!</a>
						</div>
					</div>
				</div>
				<div class="well">
					<h2>Proyectos activos</h2>
					<div class="proyectoBar" th:each="proyecto : ${proyectos}">
						<div class="skillbar clearfix" 
							th:attr="data-percent=${proyecto.porcentajeCompletado}+'%'">
							<div class="skillbar-title" style="background: #25b0e1;">
								<a th:href="@{'/proyecto/' + ${proyecto.id}}"
									class="proyectoLink"><span th:text="${proyecto.titulo}"></span></a>
							</div>
							<div class="skillbar-bar" style="background: #25b0e1;"></div>
							<div class="skill-bar-percent"
								th:text="${proyecto.porcentajeCompletado} + '%'"></div>
						</div>
					</div>
				</div>
				<div class="well">
					<h2>Opiniones</h2>
					<div class="row comentario" th:each="opinion : ${inversor.opinionTo}">
						<div class="col-sm-1">
							<div class="thumbnail">
								<img class="img-responsive user-photo"
									src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" />
							</div>
							<!-- /thumbnail -->
						</div>
						<!-- /col-sm-1 -->

						<div class="col-sm-11">
							<div class="panel panel-default">
								<div class="panel-heading">
									<strong th:text="${opinion.userFrom.nombre}"></strong> comentado a fecha: <span class="text-muted" th:text="${#dates.format(opinion.fecha, 'dd-MMM-yyyy')}"></span>
								</div>
								<div class="panel-body" th:text="${opinion.mensaje}"></div>
								<!-- /panel-body -->
							</div>
							<!-- /panel panel-default -->
						</div>
						<!-- /col-sm-5 -->
					</div>
					<div class="row">
						<div class="col-sm-4 col-md-12">
							<div class="panel panel-default">
								<div class="panel-body">
									<form th:action="@{'/guardarComentario/' + ${inversor.id}}" method="POST">
										<textarea class="form-control counted" name="mensaje"
											placeholder="Escribe aquí el comentario" rows="5"
											style="margin-bottom: 10px;"></textarea>
										<button class="btn btn-info" type="submit">Escribir comentario</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Modal Header</h4>
				</div>
				<div class="modal-body">
					<form th:action="@{'/toque/' + ${inversor.id}}" method="POST">
						<label for="comment">Escribe un mensaje para el inversor:</label>
						<textarea class="form-control" name="mensaje" rows="5"
							id="comment">Hola! Pásate por mi perfil para ver mis proyectos. Te gustarán!</textarea>
						<!-- Button -->
						<br />
						<div class="form-group">
							<label class="col-md-4 control-label" for="reg"></label>
							<div class="col-md-4">
								<button id="reg" name="reg" class="btn btn-primary">Dar
									toque!</button>
							</div>
						</div>
						<br />
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>
</body>
</html>