<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>StartupWeb</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<link href="../static/css/navbar.css" th:href="@{/css/navbar.css}"
	rel="stylesheet" media="screen" />
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="../static/js/navbar.js" th:src="@{/js/navbar.js}"></script>
<link href="../../static/css/chat.css" th:href="@{/css/chat.css}"
	rel="stylesheet" media="screen" />
<script src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
<script src="../static/js/userIndex.js" th:src="@{/js/userIndex.js}"></script>
<script th:inline="javascript" src="../static/js/chat.js"
	th:src="@{/js/chat.js}"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
	<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	<div class="container-fluid">
		<div class="row content">
			<div class="col-sm-3 sidenav hidden-xs" style="padding-right: 0px">
				<!--/*/ <th:block th:include="fragments/headerLeft :: headerLeft"></th:block> /*/-->
			</div>
			<div class="col-sm-9">
				<div class="well">
					<div class="container">
						<div class="row">
							<div class="panel panel-default" style="height: 90vh">
								<div class="panel-heading" style="height: 10vh" >
									<a href="#" th:href="@{/ContactosChat}"><i
										class="fa fa-arrow-left" aria-hidden="true"
										style="font-size: 20px; margin-right: 20px; color: white"></i></a><span
										id="destinatario" th:text="${userTo.id}"></span>-<span
										id="destinatario" th:text="${userTo.nombre}"></span><span
										th:text="${user.email}" id="user" style="float: right"></span>
								</div>
								<div class="panel-body" style="height: 70vh; overflow:scroll">
									<div class="container" id="messages">
										<th:block th:each="mensaje : ${mensajes}">
											<div class="row message-bubble">
												<p class="text-muted" th:text="${mensaje.userFrom.nombre}"></p>
												<span th:text="${mensaje.mensaje}"></span>
											</div>
										</th:block>
									</div>									
								</div>
								<div class="panel-footer">
										<div class="input-group">
											<input type="text" class="form-control" id="inputText" /> <span
												class="input-group-btn">
												<button class="btn btn-default" type="button"
													id="sendButton">Send</button>
											</span>
										</div>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div style="display: none;" th:text="${userTo.email}" id="userToEmail"></div>
	<div style="display: none;" th:text="${user.email}" id="userFromEmail"></div> -->
</body>
</html>