@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body{
height: 100%;
font-family: Raleway, Helvetica, sans-serif;
letter-spacing: 1px;
}
.well{
	background-color: white;
	border-color: #25b0e1;
	padding: 0px;
}
.container-fluid{
	height: 100%;
}
.row.content {
	height: 100%;
}
.col-sm-9{
	margin-top: 10px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: white;
}
/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
	.row.content {
		height: auto;
	}
}
/* Set gray background color and 100% height */
.sidenav {
	background-color: #219eca;
	height: 100%;
	position: fixed;
	
} 
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: inherit;
}
.sidenav a{
	letter-spacing: 2px;
	font-size: 1.2em;
	color: white;
}
.menuItem{
	margin-left: -15px !important;
	padding: 5px 0px 5px 15px;
}
.menuItem:active, .menuItem:focus, .menuItem:hover{
	border-left: 3px solid white;
}
.sidenav .img-responsive{
    display: table;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 180px;
}
.navbar-inverse{
	background-color: #219eca !important;
	border: none;
}
.navbar-inverse .navbar-toggle {
    border-color: white;
}
.img-responsive{
	width: 180px;
    margin: 5px 0px 0px 10px;
}
.navbar-inverse a{
	color: white !important;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: white;
	text-align: center;
}
inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: inherit;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: inherit;
}

@media(min-width:768px) {
	.col-sm-9 {
	    margin-top: 10px;
	    position: relative;
	    left: 25%;
	}
}
.proyectoLink{
	color: white;
	text-decoration:none;
	font-family: Raleway, Sans-serif;
}
.proyectoLink:focus, .proyectoLink:hover {
    color: white;
    text-decoration: none;
}
.comentario{
	padding:10px;
}