.well h2 {
    position: relative;
    top: 0px;
    width: 100%;
    background: #25b0e1;
    right: 0px;
    color: white;
    margin: 0px;
    font-size: 1.5em;
    text-align: center;
    padding: 7px;
    margin-bottom: 15px;
}
div#infoEmpresa{
	padding: 10px 20px 20px 20px;
}
div#infoEmpresa img{
	width: 175px;
	margin: 0 auto;
}
div#visitas {
    font-size: 2em;
    text-align: center;
    padding-bottom: 15px;
}
/* CSS Progress bar */
.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	font-weight:bold;
	font-size:13px;
	color:#fff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#444;
	color:rgba(0, 0, 0, 0.4);
}
#editarImagen {
    top: 0;
    position: fixed;
    width: 325px;
    height: 450px;
    background: white;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5px;
}
#popupTitle {
    background: #219eca;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    color: white;
    padding: 15px 5px 15px 5px;
    margin: 0px 0px 10px 0px;
}
#cerrarPopup{
	font-size: 1.2em;
    color: white;
    /* background-color: white; */
    opacity: 1;
    padding-right: 8px;
}
#popupEditaImagen{
	background-color: #f7f7f7;
    text-align: center;
    top: -40px;
    position: absolute;
    width: 200px;
    margin: auto;
    left: 0;
    right: 0;
    padding: 15px 5px 15px 5px;
    border-radius: 5px;
    display: none;
    cursor: pointer
}
#popupEditaImagen a{
	text-decoration:none;
}
h2 span{
	cursor:pointer;
	position: absolute;
    right: 10px;
    /* float: right; */
    font-size: 13px;
    top: 10px;
    margin-top: auto;
    margin-bottom: auto;
    bottom: auto;
}
.modal-dialog{
	overflow: scroll;
	height: 80%;
}
@media(min-width:768px) {
	.modal-dialog{
		width: 70%; 
	}
}

div#importeInversor {
    border: 1px solid #219eca;
    text-align: center;
}
div#importeInversor h1{
	padding: 25px
}